@charset "UTF-8";

body {
	font-size: 80%;
	background: #000;
	color: #fff;
}
#sbmenu{
	//width: 100%;
}
#sbmenu ul {
	display: flex;
}
#sbmenu li {
	width: 30%;
	height: 100px;
	background: #fff;
	//float: left;
	margin: 10px 10px 0 0 ;
	//position: relative;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	color: #000;
}
#sbmenu li a {
	//position: absolute;
	//top: 50%;
	//left: 15px;
	//margin: -0.5em;
	color: #000;
}
#sbmenu li.active{
	background: #ccc;
}
#detail > div {
	display: none;
}
#detail .active {
	display: block;
}
@madia screen and (max-width:700px){
	img {
		width: 100%;
	}
	#content {
		width: 100%;
	}
	#sbmenu{
		width: 100%;
	}
	#detail {
		width: 100%;
	}
}
@madia screen and (max-width:701px){
	#content {
		width: 650px;
		margin: 0 auto;
	}
	#sbmenu {
		width: 200px;
		float: left;
	}
	#detail {
		width: 450px;
		float: left;
	}
}